
body {
    width: 100%;
}
.img-logo {
    display: flex;
    #image-Gif {
        height: 100%;
    }
}
.image-Back {
    margin-left: -130px;
    margin-top: 40px;

}
.GeneralCreate{
    display: block;
    margin-top: 50px;
    margin-left: -10px;
    .ContainerCreate {
        width: 685px;
        height: 338px;
        padding: 4px;
        margin-top: 32px;
        margin-left: 330px;
        margin-bottom: 32px;
        display: flex;
        flex-direction: column;
        background: #E1DCDC;
        box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
        .Title {
            padding-top: 10px;
            padding-left: 6px;
            margin: 3px;
            margin-top: 1px;
            background-image: linear-gradient(270deg, #F7C6F3 0%, #3B78EB 100%);
            b {
                margin-top: 2px;
                font-family: 'ChakraPetch';
                font-size: 16px;
                color: #FAFAFA;
                letter-spacing: 0;
            }
        }
        .Organization {
            padding-left: 34px;
            padding-top: 17px;
            img {
                width: 33px;
                height: 33px;
            }
            .CreateTitle p {
                margin-left: 52px;
                margin-top: -12px;
                font-weight: bold;
                height:17px;
                margin-top: -7%;     
        }
        .GuifoCreate {
            display: flex;
            padding-top: 4%;
            text-decoration: none;
        }
        .List {
            list-style: none;
            margin-left: -41px;
            line-height: 160%;
        }
        .Finish-list {
            height: 15px;
        }

        }
        .ButtonsClass {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            margin-top: -3%;
            padding-bottom: 30px;
            button {
                margin: 5px;
                font-size: 17px;

            }
            a {
                margin: 5px;
                font-size: 17px;
                background: #FAFAFA;
                color: #100134;
                border: 1px solid;
                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
                width: 146px;
                height: 36px;
                font-family: 'ChakraPetch';
                text-decoration: none;
                letter-spacing: 0;
                text-align: center;
                line-height: 36px;
            }
            .start {
                width: 146px;
                height: 38px;
                background: #F7C9F3;
                font-family: 'ChakraPetch';
                border: 1px solid #100134;
                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;

            }
        }
    }
}
.Principalvideo {
    width: 805px;
    height: 535px;
    margin-top: -3%;
    margin-left: 19%;
    display: none;
    background: #E1DCDC;
    .videoContainer{
        width: 772px;
        height: 434px;
        background: #FAFAFA;
        border: 1px solid #908686;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110034;
        margin: 13px;
        #video  {
            height: 434px;
        }
    }
    .Titlevideo {
        width: 800px;
        height: 22px;
        display: flex;
        flex-direction: column;
        margin-top: 9px;
        margin-left: 4px;
        #Stylcheck {
                height: 24px;
                background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
                font-family: 'ChakraPetch';
                font-weight: bold;
                font-size: 14px;
                color: #FAFAFA;
                letter-spacing: 0;
                margin-top: 5px;
                margin-left: 5px;
        }
        #stylcapture {
                display:none;
                height: 24px;
                background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
                font-family: 'ChakraPetch';
                font-weight: bold;
                font-size: 14px;
                color: #FAFAFA;
                letter-spacing: 0;
                margin-top: 5px;
                margin-left: 5px;
        }
        .closeGif {
            margin-left: 779px;
            margin-top: -35px;
        }   
        }
    .Gifscreen {
        display: flex;
        justify-content: flex-end;
        margin-top: 11px;
        margin-right: 18px;
        .Capturegifs {
            background: #F7C9F3;
            border: 1.5px solid #100134;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
            width: 142px;
            height: 34px;
            font-size: 15px;
            font-family: 'ChakraPetch-Regular';
            line-height: 17px;
            letter-spacing: 0;
            text-align: center;
        }
        .cameraCapture{
            background: #F7C9F3;
            border: 1.5px solid #100134;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
            width: 37px;
            height: 31px;
            font-size: 15px;
            font-family: 'ChakraPetch-Regular';
            line-height: 17px;
            letter-spacing: 0;
            text-align: center;
            .camera {
                margin-top: 6px;
                width: 18px;
                height: 17px;
            }
        }
    }
    .containerReady {
        display: none;
    .gifReady {
        display: flex;
        justify-content: flex-end;
        margin-top: -10px;
        margin-right: 18px;
        .recordGif {
            width: 144px;
            height: 36px;
            font-family: 'ChakraPetch-Regular';
            font-size: 16px;
            background: #FF6161;
            border: 1.5px solid #100134;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
            margin-top: 5px;
            span {
                color: #FAFAFA;
            }
        }
        .recordButton {
            width: 37px;
            height: 36px;
            background: #FF6161;
            border: 1px solid #110034;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
            margin-left: 460px;
            margin-top: 5px;
        }
    }
    #time {
        width: 124px;
        height: 36px;
        background: #FFFFFF;
        margin-top: -34px;
        margin-left: 38px;
        border: 1px solid #979797;
        line-height: 32px;
        text-align: center;
        box-shadow: inset 2px 2px 0 0;
    }
}

#previewGif{
    display: none;
    .readyButton {
        display: flex;
        justify-content: flex-end;
        margin-top: -13px;
        .upGif {
            width: 144px;
            height: 36px;
            margin-right: 15px;
            background: #F7C9F3;
            line-height: 18px;
            font-family: 'ChakraPetch-Regular';
            font-size: 16px;
            color: #110034;
            border: 1px solid #100134;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
            letter-spacing: 0;
            text-align: center;
        }
        .repeatGif {
            width: 144px;
            height: 36px;
            margin-right: 12px;
            margin-left: 82px;
            line-height: 18px;
            border-style: solid;
            border: 1px solid #100134;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
            font-family: 'ChakraPetch-Regular';
            font-size: 16px;
            letter-spacing: 0;
            text-align: center;
            a {
                text-decoration: none;
                color: #110034;
                
            }
        }
        .repeatGif:hover {
            border: 1px dotted #100134;
            background: #F0E5EE;
        }
        .frontBar {
            width: 240px;
            height: 24px;
            background: #A09C9C;
            box-shadow: inset 0.5px 2px 0 0 #FAFAFA, inset -0.5px -2px 0 0 #110034;
            margin-top: 10px;
            display: flex;
            .forward {
                display: flex;
                width: 20px;
                height: 20px;
                background: #F7C9F3;
                border: 1px solid #110034;
                box-shadow: inset -1px -1px 0 0 #A0899F, inset 1px 1px 0 0 #FAFAFA;
                margin-top: 1px;
                .forwardContainer {
                    width: 6px;
                    height: 10px;
                    align-self: center;
                    margin-left: 8px;
                }
            }
            .BarLoading {
                background: #F7C9F3;
                height: 22px;
            }
        }
        #time2 {
            width: 124px;
            height: 36px;
            background: #FFFFFF;
            margin-top: -3px;
            margin-right: 29px;
            border: 1px solid #979797;
            line-height: 32px;
            text-align: center;
            box-shadow: inset 2px 2px 0 0;
        }
    }
}

    #gifContainer {
        display: none;
        width: 772px;
        height: 434px;
        background: #FAFAFA;
        border: 1px solid #908686;
        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110034;
        margin: 13px;
        img {
            width: 100%;
            height: 100%;
        }
        .upGifos {
            img {
                width: 48px;
                height: 48px;
                margin-left: 391px;
                margin-top: 101px;
            }
            .upGifosTitle {
                margin-left: 290px;
                font-family: 'ChakraPetch';
                font-weight: bold;
                font-size: 16px;
                color: #110038;
                line-height: 22px;
                letter-spacing: 0;
            }
            .time-left {
                font-family: 'ChakraPetch-Bold';
                font-size: 18px;
                color: #110038;
                letter-spacing: 0;
                text-align: center;
                line-height: 22px;
            }
            .progressGif {
                width: 380px;
                height: 24px;
                transition: all 8s ease;
                transition-timing-function: linear;
                margin-left: 200px;
                background: #999999;
                box-shadow: -2px -2px -3px 0px;
            }
            .GifLoading {
                height: 21px;
                background-color: #F7C9F3;
            }
        }
        .StopGif {
            margin-left: 669px;
            margin-top: 162px;
            background: #F0E5EE;
            border: 1px solid #110038;
            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
            text-decoration: none;
            font-family: 'ChakraPetch-Regular';
            font-size: 16px;
            letter-spacing: 0;
            line-height: 32px;
            width: 105px;
            a {
                text-decoration: none;
                color: #110038;
            }
        }
    }
    .UpGifo {
        width: 794px;
        height: 22px;
        display: flex;
        flex-direction: column;
        margin-top: 9px;
        margin-left: 4px;
        height: 24px;
        background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
        font-family: 'ChakraPetch';
        font-weight: bold;
        font-size: 14px;
        color: #FAFAFA;
        letter-spacing: 0;
        margin-top: 5px;
        margin-left: 5px;
        padding-top: 4px;
    }
}
.containermyGuifos {
    .MyGuifos {
        display: none;
    }
}
