.obscure-initial {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.main {
    margin: 0px 110px;

    .content {
        margin: 50px 0px;

        .createGifs {
            width: 440px;
            height: 40px;
            top: 75px;
            display: flex;
            margin-left: 55%;

            .Menucontainer {
                margin: 0px 15px;
                display: flex;
                flex-direction: column;

                .Menucontainerunfolded {
                    display: flex;
                }

                .containerdrop {
                    display: none;
                    flex-direction: column;
                    margin: 0px 15px;
                    background: #977C95;
                    width: 180px;
                    background: #DFDBDB;
                    box-shadow: inset -2.5px -2.5px 0 0 #E0D1DD, inset 2.5px 2.5px 0 0 #FAFAFA;
                    padding-bottom: 12px;
                    top: 60px;
                    right: 100px;
                    z-index: 1;
                    overflow: auto;
                    position: absolute;

                    .listObscure {
                        background: #CECECE;
                    }

                    .listObscure:hover {
                        background: #2126F5;
                        color: #FAFAFA;
                    }
                }
            }
        }
    }
}

.searchObscure {
    background: #E1DCDC;
}

#containersearch {
    width: 1210px;
    margin-top: -60px;
    box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .obscureform {
        box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
    }
}

.contalliedbuttonobsc {
    background: #908686;
    box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
}

#alliedbtn {
    padding-top: 12px;
    display: none;
    flex-wrap: wrap;
    top: 275px;
    z-index: 2;
    background: #E6E6E6;

    .alliedbtnobscure {
        background: #CFCDCD;
    }
}

.butobscure {
    background: #908686;
}
.containersugge {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    .seeMoreobsc {
        background: #0D12FC;
    }
}