.trends {
    .trends-principaltrends {
        width: 1329px;
        margin-top: 115px;
        margin-bottom: 25px;
        height: 35px;
        background: #FFFAFE;
        border: 1.5px solid #100134;
        box-shadow: inset -2.5px -2.5px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #F7C9F3;

        p {
            font-family: 'Chakra Petch', sans-serif;
            font-size: 16px;
            color: #100134;
            margin: 0;
            padding: 6px;
            letter-spacing: 0;
        }
    }

    .trends-container {
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

    .trends-contain-Gif {
        flex-direction: column;
        height: 300px;
        width: 300px;
        position: relative;
        margin-bottom: 33px;
    }

    .trends-contain-Gif img.img-gif {
        width: 100%;
        height: 100%;
        box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
        background: #E1DDDD;
    }

    .trends-contain-Gif img.img-gif:hover {
        width: 100%;
        height: 305px;
    }

    .text-finish {
        width: 100%;
        height: 33px;
        display: none;
        margin: 0;
        padding: 0;
        border: 0;
        //padding-left: 6px;
        font-family: 'ChakraPetch-Bold';
        font-size: 18px;
        color: #FAFAFA;
        align-self: center;
        letter-spacing: 0;
        background-image: linear-gradient(270deg, #F1BBEC 0%, #3873E3 100%);
        margin-top: -5px;
    }

    .trends-contain-Gif:hover {
        border: 3px solid #908686;
        width: 305px;
        height: 315px;
        box-shadow: inset -2-5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
        background: #E1DDDD;

        .text-finish {
            width: 100%;
            display: block;
            border: 3px solid #908686;
        }
    }
}

.trends-containGif-finish {
    display: block;
}