.trends .trends-principaltrends {
  width: 1210px;
  margin-top: 115px;
  margin-bottom: 25px;
  height: 35px;
  background: #FFFAFE;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #F7C9F3;
          box-shadow: inset -2.5px -2.5px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #F7C9F3;
}

.trends .trends-principaltrends p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  margin: 0;
  padding: 6px;
  letter-spacing: 0;
}

.trends .trends-container {
  width: 100%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.trends .trends-contain-Gif {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  width: 300px;
  position: relative;
  margin-bottom: 33px;
}

.trends .trends-contain-Gif img.img-gif {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
  background: #E1DDDD;
}

.trends .trends-contain-Gif img.img-gif:hover {
  width: 100%;
  height: 305px;
}

.trends .text-finish {
  width: 100%;
  height: 33px;
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'ChakraPetch-Bold';
  font-size: 18px;
  color: #FAFAFA;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#F1BBEC), to(#3873E3));
  background-image: linear-gradient(270deg, #F1BBEC 0%, #3873E3 100%);
  margin-top: -5px;
}

.trends .trends-contain-Gif:hover {
  border: 3px solid #908686;
  width: 305px;
  height: 315px;
  -webkit-box-shadow: inset -9.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -9.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
  background: #E1DDDD;
}

.trends .trends-contain-Gif:hover .text-finish {
  width: 100%;
  display: block;
  border: 3px solid #908686;
}

.trends-containGif-finish {
  display: block;
}

.img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-logo #image-Gif {
  height: 100%;
}

.image-Back {
  margin-left: -130px;
  margin-top: 40px;
}

.GeneralCreate {
  display: block;
  margin-top: 50px;
  margin-left: -120px;
}

.GeneralCreate .ContainerCreate {
  width: 685px;
  height: 364px;
  padding: 4px;
  margin-top: 32px;
  margin-left: 330px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E1DCDC;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

.GeneralCreate .ContainerCreate .Title {
  padding-top: 10px;
  padding-left: 6px;
  margin: 3px;
  margin-top: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C6F3), to(#3B78EB));
  background-image: linear-gradient(270deg, #F7C6F3 0%, #3B78EB 100%);
}

.GeneralCreate .ContainerCreate .Title b {
  margin-top: 2px;
  font-family: 'ChakraPetch';
  font-size: 15px;
  color: #FAFAFA;
  letter-spacing: 0;
}

.GeneralCreate .ContainerCreate .Organization {
  padding-left: 34px;
  padding-top: 17px;
}

.GeneralCreate .ContainerCreate .Organization img {
  width: 33px;
  height: 33px;
}

.GeneralCreate .ContainerCreate .Organization .CreateTitle p {
  margin-left: 52px;
  margin-top: -12px;
  font-weight: bold;
  height: 17px;
  margin-top: -7%;
}

.GeneralCreate .ContainerCreate .Organization .GuifoCreate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
  text-decoration: none;
}

.GeneralCreate .ContainerCreate .Organization .List {
  list-style: none;
  margin-left: -41px;
  line-height: 160%;
}

.GeneralCreate .ContainerCreate .ButtonsClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 30px;
}

.GeneralCreate .ContainerCreate .ButtonsClass button {
  margin: 5px;
  border: 1px solid;
  font-size: 17px;
}

.GeneralCreate .ContainerCreate .ButtonsClass .cancel {
  width: 146px;
  height: 38px;
  font-family: 'ChakraPetch-Regular';
}

.GeneralCreate .ContainerCreate .ButtonsClass .start {
  width: 146px;
  height: 38px;
  background: #F7C9F3;
  font-family: 'ChakraPetch-Regular';
}

#video {
  display: none;
  margin-left: 25%;
  width: 833px;
  height: 434px;
}

#video video {
  width: 100%;
  height: 100%;
}

#video .Titlevideo {
  width: 854px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 5px;
  margin-left: 4px;
}

#video .Titlevideo .Stylparagraph {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'ChakraPetch-Bold';
  font-size: 14px;
  color: #FAFAFA;
  letter-spacing: 0;
  margin-top: 1px;
  margin-left: 5px;
}

#video .Gifscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 11px;
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: solid;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  background-color: #FAFAFA;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25px;
  -webkit-box-shadow: 0 1.5px 0 0 #100134;
          box-shadow: 0 1.5px 0 0 #100134;
}

header p {
  font-family: 'Chakra Petch';
  font-size: 14px;
  color: #FCFCFC;
  margin: 0;
}

.light-initial {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

.obscure-initial {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

#arrowReturn {
  margin-right: -105px;
  margin-left: 80px;
}

#imageGif {
  width: 100%;
  height: 100%;
}

.main {
  margin: 0px 110px;
}

.main .content {
  margin: 50px 0px;
}

.main .content .menu-section {
  margin-bottom: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .content .menu-section .img-logo {
  width: 102.6px;
  height: 64px;
}

.main .content .createGifs {
  width: 440px;
  height: 40px;
  top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 55%;
}

.main .content .createGifs .create {
  width: 125px;
  background: #F7C9F3;
  cursor: pointer;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 17px;
  color: #100134;
  text-align: center;
  letter-spacing: 0;
  padding-top: 10px;
  line-height: 20px;
  text-decoration: none;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
}

.main .content .createGifs .create:hover {
  border: 1.5px dotted #100134;
}

.main .content .createGifs button {
  width: 125px;
  height: 40px;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
  background: #F7C9F3;
  cursor: pointer;
  border: 1.5px solid #100134;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 17px;
}

.main .content .createGifs button:hover {
  border: 1.5px dotted #100134;
}

.main .content .createGifs .Menucontainer {
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded button {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  margin: 0;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded div {
  width: 40px;
  border: 1.5px solid #100134;
  background: #F7C9F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
  border: 1.5px solid black;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded div img {
  margin: auto;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded div:hover {
  border: 1.5px dotted #100134;
}

.main .content .createGifs .Menucontainer .containerdrop {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 15px;
  background: #977C95;
  width: 180px;
  background: #DFDBDB;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #E0D1DD, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #E0D1DD, inset 2.5px 2.5px 0 0 #FAFAFA;
  padding-bottom: 12px;
  top: 60px;
  right: 100px;
  z-index: 1;
  overflow: auto;
  position: absolute;
}

.main .content .createGifs .Menucontainer .containerdrop .droplist {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main .content .createGifs .Menucontainer .containerdrop li {
  cursor: pointer;
  list-style: none;
  width: 160px;
  height: 40px;
  border: 1.5 px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  color: #100134;
  display: block;
  padding-top: 8px;
  margin-left: 12px;
  margin-top: 10px;
}

.main .content .createGifs .Menucontainer .containerdrop .list {
  background: #FAFAFA;
}

.main .content .createGifs .Menucontainer .containerdrop .list span {
  text-decoration: underline;
}

.main .content .createGifs .Menucontainer .containerdrop .list:hover {
  background: #FFEDFC;
  border: 1.5px solid #B78DB4;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
}

.main .content .createGifs .Menucontainer .containerdrop .listObscure {
  background: #CECECE;
}

.main .content .createGifs .Menucontainer .containerdrop .listObscure:hover {
  background: #2126F5;
  color: #FAFAFA;
}

.main .content .createGifs .MyGuifos {
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  left: 1300px;
  top: 78px;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 17px;
  color: #100134;
  line-height: 40px;
  letter-spacing: 0;
}

.main .content .createGifs .MyGuifos span {
  text-decoration: underline;
}

.main .content .createGifs .MyGuifos:hover {
  border: 1.5px dotted #100134;
}

.search {
  background: #E1DEDE;
}

.searchObscure {
  background: #E1DCDC;
}

#containersearch {
  width: 1210px;
  margin-top: -60px;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#containersearch .allied {
  position: absolute;
  margin-top: -1px;
  width: 1211px;
}

#containersearch #prinsearch {
  width: 1200px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: #FAFAFA;
  -webkit-box-shadow: 0 1.5px 0 0 #100134;
          box-shadow: 0 1.5px 0 0 #100134;
}

#containersearch #prinsearch p {
  margin: auto;
  width: 98%;
  height: 50px;
}

#containersearch .principalsearch {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C6F3), to(#3B78EB));
  background-image: linear-gradient(270deg, #F7C6F3 0%, #3B78EB 100%);
}

#containersearch .outline {
  background-image: -webkit-gradient(linear, right top, left top, from(#EA3FF9), to(#262AEE));
  background-image: linear-gradient(270deg, #EA3FF9 0%, #262AEE 100%);
}

#containersearch .lightform {
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

#containersearch .obscureform {
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
}

#containersearch form {
  height: 100%;
}

#containersearch form .form {
  width: 98.4%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#containersearch form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1100px;
  font-size: 14px;
  padding-left: 11px;
  font-size: 15px;
  color: #A09C9C;
  letter-spacing: 0;
  line-height: 50px;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #FAFAFA, inset 2.5px 2.5px 0 0 #100134;
          box-shadow: inset -2.5px -2.5px 0 0 #FAFAFA, inset 2.5px 2.5px 0 0 #100134;
}

#containersearch form input:focus .contalliedbutton {
  display: block;
}

#containersearch form input::-webkit-input-placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch form input:-ms-input-placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch form input::-ms-input-placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch form input::placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch .buttonsearch {
  width: 100px;
  height: 38px;
  margin: auto 5px;
  -webkit-box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
  font-size: 17px;
  line-height: 16px;
  height: 36px;
  border: 1.5px solid #908686;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

#containersearch .buttonsearch:active {
  background: #F7C9F3;
  color: #100134;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
}

#containersearch div button {
  border: 1px solid #48289B;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #1E4796, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #1E4796, inset 2.5px 2.5px 0 0 #FAFAFA;
}

#containersearch .alliedbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#containersearch .contalliedbutton {
  background: #DFDBDB;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

#containersearch .contalliedbutton .lightform:focus #alliedbtn {
  display: block;
}

.contalliedbuttonobsc {
  background: #908686;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #908686, inset 2.5px 2.5px 0 0 #FAFAFA;
}

#alliedbtn {
  padding-top: 12px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 275px;
  z-index: 2;
  background: #E6E6E6;
}

#alliedbtn button {
  width: 1060px;
  height: 38px;
  margin-left: 17px;
  margin-bottom: 14px;
  color: #110038;
  line-height: 34px;
  border: 1.5px solid #716B6B;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #A09C9C, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #A09C9C, inset 1.5px 1.5px 0 0 #FAFAFA;
  text-align: start;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#alliedbtn button a {
  width: 250px;
  height: 25px;
  padding-left: 16px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  letter-spacing: 0;
  line-height: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#alliedbtn button:hover {
  border: 1px dotted #100134;
  background: #E6E6E6;
}

#alliedbtn .alliedbutton {
  background: #FAFAFA;
}

#alliedbtn .alliedbtnobscure {
  background: #CFCDCD;
}

.alliedTags {
  width: 1410px;
  padding-top: 12px;
  top: 280px;
  position: absolute;
  z-index: 2;
}

.alliedTags .lookTags {
  width: auto;
  height: 36px;
  margin-right: 10px;
  padding: 9px;
  line-height: 20px;
  background: #3873E3;
  border: 1.5px solid #48289B;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #3873E3, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #3873E3, inset 2.5px 2.5px 0 0 #FAFAFA;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #FAFAFA;
  letter-spacing: 0;
}

.butobscure {
  background: #908686;
}

.suggestions .principalsug {
  width: 1210px;
  height: 36px;
  margin-top: 105px;
  margin-bottom: 25px;
  background: #FAFAFA;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #F7C9F3;
          box-shadow: inset -2.5px -2.5px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #F7C9F3;
  border: 1.5px solid #100134;
}

.suggestions .principalsug p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  margin: 0;
  padding: 8px;
  letter-spacing: 0;
}

.create-gifs .container-create {
  width: 687px;
  margin-top: 32px;
  margin-left: 331px;
  margin-bottom: 32px;
  padding: 4px;
  height: 390px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E1DCDC;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

.create-gifs .container-create .title-create {
  height: 27px;
  padding-top: 7px;
  padding-left: 6px;
  margin: 6px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C6F3), to(#3B78EB));
  background-image: linear-gradient(270deg, #F7C6F3 0%, #3B78EB 100%);
}

.create-gifs .container-create .title-create p {
  margin-top: 2px;
  font-family: 'ChakraPetch-Bold';
  font-size: 16px;
  color: #FAFAFA;
  letter-spacing: 0;
}

.create-gifs .container-create .containerInstructions {
  padding-top: 24px;
  padding-left: 32px;
}

.create-gifs .container-create .containerInstructions .instructions {
  height: 195px;
}

.create-gifs .container-create .containerInstructions .instructions .inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.create-gifs .container-create .containerInstructions .instructions .inst img {
  width: 34px;
  height: 34px;
}

.create-gifs .container-create .containerInstructions .instructions .inst p {
  margin-top: -12px;
  margin-left: 52px;
}

.create-gifs .container-create .containerInstructions .instructions .inst p b {
  margin-left: -32px;
}

.create-gifs .container-create .container-buttons {
  padding-top: 82px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.create-gifs .container-create .container-buttons button {
  width: 146px;
  height: 38px;
  margin-right: 16px;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
  color: #100134;
  background: #FAFAFA;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
  letter-spacing: 0;
  text-align: center;
  cursor: pointer;
  line-height: 20px;
}

.create-gifs .container-create .container-buttons a {
  width: 146px;
  height: 38px;
  margin-right: 18px;
  font-family: 'ChakraPetch-Regular';
  font-size: 17px;
  color: #100134;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  background: #FFEDFC;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
  text-decoration: none;
  letter-spacing: 0;
}

.create-gifs .container-create .container-buttons #buttoninitial {
  background: #F1BBEC;
}

.create-gifs .container-record {
  width: 862px;
  height: 550px;
  margin-top: 32px;
  margin-left: 291px;
  margin-bottom: 31px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

.create-gifs .container-record .checking .checkingInitial {
  width: 856px;
  height: 26px;
  margin-top: 6px;
  margin-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: -webkit-gradient(linear, right top, left top, from(#F1BBEC), to(#3873E3));
  background-image: linear-gradient(270deg, #F1BBEC 0%, #3873E3 100%);
}

.create-gifs .container-record .checking .checkingInitial .checkingInitial-text {
  margin-top: 2px;
  margin-left: 6px;
  font-family: 'ChakraPetch-Bold';
  font-size: 16px;
  color: #FAFAFA;
  letter-spacing: 0;
}

.create-gifs .container-record .checking .checkingInitial img {
  margin-top: -32px;
  margin-left: 832px;
}

.create-gifs .container-record .checking .containerVideo {
  width: 834px;
  margin: 13px;
  height: 436px;
  border: 1.5px solid #977C95;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #CECECE, inset 2.5px 2.5px 0 0 #100134;
          box-shadow: inset -2.5px -2.5px 0 0 #CECECE, inset 2.5px 2.5px 0 0 #100134;
  background: #FAFAFA;
}

.create-gifs .container-record .checking .containerVideo .Gifscontainervideo {
  width: 834px;
  height: 436px;
}

.create-gifs .container-record .checking .containerVideo #img-global {
  margin-top: 100px;
  margin-left: 392px;
}

.create-gifs .container-record .checking .containerVideo h2 {
  margin-left: 292px;
  line-height: 24px;
  font-family: 'ChakraPetch-Bold';
  font-size: 18px;
  color: #100134;
  letter-spacing: 0;
}

.create-gifs .container-record .checking .containerVideo #pLoadTime {
  line-height: 24px;
  margin-left: 252px;
  font-family: 'ChakraPetch-Bold';
  font-size: 18px;
  color: #100134;
  text-align: center;
  letter-spacing: 0;
}

.create-gifs .container-record .checking .containerVideo #pLoadTime span {
  text-decoration: line-through;
}

.create-gifs .container-record .checking .containerVideo .advance-bar2 {
  width: 52px;
  height: 22px;
  margin-left: 202px;
  background: #F7C9F3;
  -webkit-transition: all 8s ease;
  transition: all 8s ease;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.create-gifs .container-record .checking .containerVideo #buttonCancel2 {
  width: 106px;
  line-height: 35px;
  margin-top: 202px;
  margin-left: 690px;
  padding-left: 39px;
  background: #FFFAFE;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
  text-decoration: none;
  font-family: 'ChakraPetch-Regular';
  font-size: 18px;
  color: #100134;
  letter-spacing: 0;
}

.create-gifs .container-record .checking .containerRecordButtons .containerButtonCapture {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.create-gifs .container-record .checking .containerRecordButtons .containerButtonCapture .button-camera {
  width: 38px;
  height: 35px;
  border: 1.5px solid #100134;
  background: #F7C9F3;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
}

.create-gifs .container-record .checking .containerRecordButtons .containerButtonCapture .button-capture {
  width: 146px;
  height: 38px;
  background: #F7C9F3;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
}

.create-gifs .container-record .checking .containerReady {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create-gifs .container-record .checking .containerReady #time {
  width: 126px;
  height: 38px;
  margin-top: 2px;
  border: 1.5px solid #908686;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #100134;
          box-shadow: inset -2.5px -2.5px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #100134;
  background: #FFFFFF;
}

.create-gifs .container-record .checking .containerReady #time span {
  margin-left: 22px;
  line-height: 31px;
  font-family: 'ChakraPetch-Regular';
  font-size: 18px;
  color: #100134;
  letter-spacing: 0;
}

.create-gifs .container-record .checking .containerReady .buttonRecord {
  width: 38px;
  height: 37px;
  margin-top: 7px;
  margin-left: 463px;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #922C2C, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #922C2C, inset 1.5px 1.5px 0 0 #FAFAFA;
  background: #F74C4C;
}

.create-gifs .container-record .checking .containerReady .button-ready {
  width: 146px;
  height: 37px;
  margin-top: 6px;
  background: #F74C4C;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #922C2C, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #922C2C, inset 1.5px 1.5px 0 0 #FAFAFA;
}

.create-gifs .container-record .checking .load-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-gifs .container-record .checking .load-bar .proceed {
  width: 21px;
  height: 22px;
  margin-top: 11px;
  background: #F7C9F3;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
}

.create-gifs .container-record .checking .load-bar .proceed #img-proceed {
  width: 8px;
  height: 11px;
  margin-left: 9px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.create-gifs .container-record .checking .load-bar .bar-bar {
  width: 242px;
  height: 26px;
  margin-top: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 2.5px 2.5px 0 0 #FCFCFC, inset -2.5px -2.5px 0 0 #100134;
          box-shadow: inset 2.5px 2.5px 0 0 #FCFCFC, inset -2.5px -2.5px 0 0 #100134;
  background: #CECECE;
}

.create-gifs .container-record .checking .load-bar .bar-bar .progress-bar {
  width: 0%;
  height: 18px;
  background: #F7C6F3;
  -webkit-transition: all 2.5s ease;
  transition: all 2.5s ease;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

.create-gifs .container-record .checking button {
  width: 146px;
  height: 38px;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
  color: #100134;
  text-align: center;
  line-height: 17px;
  letter-spacing: 0;
}

.create-gifs .container-record .checking .button-repeat {
  margin-right: 11px;
  margin-left: 82px;
  background: #FCFCFC;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
}

.create-gifs .container-record .checking .button-repeat a {
  font-family: 'ChakraPetch-Regular';
  text-decoration: none;
  font-size: 18px;
  color: #100134;
  text-align: center;
  line-height: 18px;
  letter-spacing: 0;
}

.create-gifs .container-record .checking .button-repeat:hover {
  background: #FDFCFC;
  border: 1.5px dotted #100134;
}

.create-gifs .container-record .checking .button-upload {
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #977C95, inset 1.5px 1.5px 0 0 #FAFAFA;
  background: #F1BBEC;
}

.containersugge {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.containersugge .container_Gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 295px;
  height: 320px;
  background: #E9DFDF;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
  position: relative;
}

.containersugge .container-conteGif {
  width: 277px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  background: #E6E6E6;
}

.containersugge .container-conteGif img:hover {
  border: 1.5px dotted #100134;
}

.containersugge .container-conteGif img.dismiss-button {
  width: 20px;
  height: 20px;
  right: -90%;
  bottom: 31px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.containersugge .container-conteGif img {
  width: 277px;
  height: 277px;
  background: #E1DDDD;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

.containersugge .container-conteGif .gif_img {
  margin-top: -18px;
}

.containersugge .container-conteGif p {
  margin: 0;
  padding: 0;
  height: 30px;
  border: 0;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 10px;
  color: #FAFAFA;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  border: 3px outset;
}

.containersugge #seeMore {
  cursor: pointer;
  bottom: 22px;
  padding: 12px;
  left: 21px;
  line-height: 22px;
  text-align: center;
  border: 1.5px solid #48289B;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #3B78EB, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #3B78EB, inset 2px 2px 0 0 #FAFAFA;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  background: #3873E3;
  border-radius: px;
  letter-spacing: 0;
  position: relative;
  bottom: 78px;
}

.containersugge #seeMore:hover {
  border: 1.2px dotted #100134;
}

.containersugge .seeMore {
  background: #4284FF;
}

.containersugge .seeMoreobsc {
  background: #0D12FC;
}
/*# sourceMappingURL=style.css.map */