.trends .trends-principaltrends {
  width: 1216px;
  margin-top: 115px;
  margin-bottom: 25px;
  height: 35px;
  background: #FFFAFE;
  -webkit-box-shadow: inset -3px -3px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #E6BBE2;
          box-shadow: inset -3px -3px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #E6BBE2;
}

.trends .trends-principaltrends p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  margin: 0;
  padding: 6px;
  letter-spacing: 0;
}

.trends-container {
  width: 96.3%;
  height: 500px;
  display: -ms-grid;
  display: grid;
  row-gap: 18px;
  -webkit-column-gap: 1px;
          column-gap: 1px;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.trends-contain-Gif {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
  width: 290px;
  position: relative;
}

.trends-contain-Gif img {
  width: 290px;
  height: 300px;
  margin: 1px;
  background: #E1DDDD;
}

.text-finish {
  width: 289px;
  height: 16px;
  display: none;
  font-family: 'ChakraPetch-Bold';
  font-size: 12px;
  color: #FAFAFA;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#F1BBEC), to(#3873E3));
  background-image: linear-gradient(270deg, #F1BBEC 0%, #3873E3 100%);
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FAFAFA;
  margin-top: -5px;
  border: 1px solid #B4B4B4;
}

.trends-contain-Gif:hover {
  width: 294px;
  height: 320px;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FAFAFA;
  background: #E6E6E6;
}

.trends-contain-Gif:hover .text-finish {
  display: block;
}

body {
  width: 100%;
}

.img-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-logo #image-Gif {
  height: 100%;
}

.image-Back {
  margin-left: -130px;
  margin-top: 40px;
}

.GeneralCreate {
  display: block;
  margin-top: 50px;
  margin-left: -10px;
}

.GeneralCreate .ContainerCreate {
  width: 685px;
  height: 338px;
  padding: 4px;
  margin-top: 32px;
  margin-left: 330px;
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #E1DCDC;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

.GeneralCreate .ContainerCreate .Title {
  padding-top: 10px;
  padding-left: 6px;
  margin: 3px;
  margin-top: 1px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C6F3), to(#3B78EB));
  background-image: linear-gradient(270deg, #F7C6F3 0%, #3B78EB 100%);
}

.GeneralCreate .ContainerCreate .Title b {
  margin-top: 2px;
  font-family: 'ChakraPetch';
  font-size: 16px;
  color: #FAFAFA;
  letter-spacing: 0;
}

.GeneralCreate .ContainerCreate .Organization {
  padding-left: 34px;
  padding-top: 17px;
}

.GeneralCreate .ContainerCreate .Organization img {
  width: 33px;
  height: 33px;
}

.GeneralCreate .ContainerCreate .Organization .CreateTitle p {
  margin-left: 52px;
  margin-top: -12px;
  font-weight: bold;
  height: 17px;
  margin-top: -7%;
}

.GeneralCreate .ContainerCreate .Organization .GuifoCreate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4%;
  text-decoration: none;
}

.GeneralCreate .ContainerCreate .Organization .List {
  list-style: none;
  margin-left: -41px;
  line-height: 160%;
}

.GeneralCreate .ContainerCreate .Organization .Finish-list {
  height: 15px;
}

.GeneralCreate .ContainerCreate .ButtonsClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -3%;
  padding-bottom: 30px;
}

.GeneralCreate .ContainerCreate .ButtonsClass button {
  margin: 5px;
  font-size: 17px;
}

.GeneralCreate .ContainerCreate .ButtonsClass a {
  margin: 5px;
  font-size: 17px;
  background: #FAFAFA;
  color: #100134;
  border: 1px solid;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  width: 146px;
  height: 36px;
  font-family: 'ChakraPetch';
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
}

.GeneralCreate .ContainerCreate .ButtonsClass .start {
  width: 146px;
  height: 38px;
  background: #F7C9F3;
  font-family: 'ChakraPetch';
  border: 1px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
}

.Principalvideo {
  width: 805px;
  height: 535px;
  margin-top: -3%;
  margin-left: 19%;
  display: none;
  background: #E1DCDC;
}

.Principalvideo .videoContainer {
  width: 772px;
  height: 434px;
  background: #FAFAFA;
  border: 1px solid #908686;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110034;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110034;
  margin: 13px;
}

.Principalvideo .videoContainer #video {
  height: 434px;
}

.Principalvideo .Titlevideo {
  width: 800px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9px;
  margin-left: 4px;
}

.Principalvideo .Titlevideo #Stylcheck {
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'ChakraPetch';
  font-weight: bold;
  font-size: 14px;
  color: #FAFAFA;
  letter-spacing: 0;
  margin-top: 5px;
  margin-left: 5px;
}

.Principalvideo .Titlevideo #stylcapture {
  display: none;
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'ChakraPetch';
  font-weight: bold;
  font-size: 14px;
  color: #FAFAFA;
  letter-spacing: 0;
  margin-top: 5px;
  margin-left: 5px;
}

.Principalvideo .Titlevideo .closeGif {
  margin-left: 779px;
  margin-top: -35px;
}

.Principalvideo .Gifscreen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 11px;
  margin-right: 18px;
}

.Principalvideo .Gifscreen .Capturegifs {
  background: #F7C9F3;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  width: 142px;
  height: 34px;
  font-size: 15px;
  font-family: 'ChakraPetch-Regular';
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}

.Principalvideo .Gifscreen .cameraCapture {
  background: #F7C9F3;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  width: 37px;
  height: 31px;
  font-size: 15px;
  font-family: 'ChakraPetch-Regular';
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}

.Principalvideo .Gifscreen .cameraCapture .camera {
  margin-top: 6px;
  width: 18px;
  height: 17px;
}

.Principalvideo .containerReady {
  display: none;
}

.Principalvideo .containerReady .gifReady {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -10px;
  margin-right: 18px;
}

.Principalvideo .containerReady .gifReady .recordGif {
  width: 144px;
  height: 36px;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
  background: #FF6161;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  margin-top: 5px;
}

.Principalvideo .containerReady .gifReady .recordGif span {
  color: #FAFAFA;
}

.Principalvideo .containerReady .gifReady .recordButton {
  width: 37px;
  height: 36px;
  background: #FF6161;
  border: 1px solid #110034;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  margin-left: 460px;
  margin-top: 5px;
}

.Principalvideo .containerReady #time {
  width: 124px;
  height: 36px;
  background: #FFFFFF;
  margin-top: -34px;
  margin-left: 38px;
  border: 1px solid #979797;
  line-height: 32px;
  text-align: center;
  -webkit-box-shadow: inset 2px 2px 0 0;
          box-shadow: inset 2px 2px 0 0;
}

.Principalvideo #previewGif {
  display: none;
}

.Principalvideo #previewGif .readyButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: -13px;
}

.Principalvideo #previewGif .readyButton .upGif {
  width: 144px;
  height: 36px;
  margin-right: 15px;
  background: #F7C9F3;
  line-height: 18px;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
  color: #110034;
  border: 1px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  letter-spacing: 0;
  text-align: center;
}

.Principalvideo #previewGif .readyButton .repeatGif {
  width: 144px;
  height: 36px;
  margin-right: 12px;
  margin-left: 82px;
  line-height: 18px;
  border-style: solid;
  border: 1px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
  letter-spacing: 0;
  text-align: center;
}

.Principalvideo #previewGif .readyButton .repeatGif a {
  text-decoration: none;
  color: #110034;
}

.Principalvideo #previewGif .readyButton .repeatGif:hover {
  border: 1px dotted #100134;
  background: #F0E5EE;
}

.Principalvideo #previewGif .readyButton .frontBar {
  width: 240px;
  height: 24px;
  background: #A09C9C;
  -webkit-box-shadow: inset 0.5px 2px 0 0 #FAFAFA, inset -0.5px -2px 0 0 #110034;
          box-shadow: inset 0.5px 2px 0 0 #FAFAFA, inset -0.5px -2px 0 0 #110034;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Principalvideo #previewGif .readyButton .frontBar .forward {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  background: #F7C9F3;
  border: 1px solid #110034;
  -webkit-box-shadow: inset -1px -1px 0 0 #A0899F, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #A0899F, inset 1px 1px 0 0 #FAFAFA;
  margin-top: 1px;
}

.Principalvideo #previewGif .readyButton .frontBar .forward .forwardContainer {
  width: 6px;
  height: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
}

.Principalvideo #previewGif .readyButton .frontBar .BarLoading {
  background: #F7C9F3;
  height: 22px;
}

.Principalvideo #previewGif .readyButton #time2 {
  width: 124px;
  height: 36px;
  background: #FFFFFF;
  margin-top: -3px;
  margin-right: 29px;
  border: 1px solid #979797;
  line-height: 32px;
  text-align: center;
  -webkit-box-shadow: inset 2px 2px 0 0;
          box-shadow: inset 2px 2px 0 0;
}

.Principalvideo #gifContainer {
  display: none;
  width: 772px;
  height: 434px;
  background: #FAFAFA;
  border: 1px solid #908686;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110034;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #110034;
  margin: 13px;
}

.Principalvideo #gifContainer img {
  width: 100%;
  height: 100%;
}

.Principalvideo #gifContainer .upGifos img {
  width: 48px;
  height: 48px;
  margin-left: 391px;
  margin-top: 101px;
}

.Principalvideo #gifContainer .upGifos .upGifosTitle {
  margin-left: 290px;
  font-family: 'ChakraPetch';
  font-weight: bold;
  font-size: 16px;
  color: #110038;
  line-height: 22px;
  letter-spacing: 0;
}

.Principalvideo #gifContainer .upGifos .time-left {
  font-family: 'ChakraPetch-Bold';
  font-size: 18px;
  color: #110038;
  letter-spacing: 0;
  text-align: center;
  line-height: 22px;
}

.Principalvideo #gifContainer .upGifos .progressGif {
  width: 380px;
  height: 24px;
  -webkit-transition: all 8s ease;
  transition: all 8s ease;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  margin-left: 200px;
  background: #999999;
  -webkit-box-shadow: -2px -2px -3px 0px;
          box-shadow: -2px -2px -3px 0px;
}

.Principalvideo #gifContainer .upGifos .GifLoading {
  height: 21px;
  background-color: #F7C9F3;
}

.Principalvideo #gifContainer .StopGif {
  margin-left: 669px;
  margin-top: 162px;
  background: #F0E5EE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  text-decoration: none;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
  width: 105px;
}

.Principalvideo #gifContainer .StopGif a {
  text-decoration: none;
  color: #110038;
}

.Principalvideo .UpGifo {
  width: 794px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 9px;
  margin-left: 4px;
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'ChakraPetch';
  font-weight: bold;
  font-size: 14px;
  color: #FAFAFA;
  letter-spacing: 0;
  margin-top: 5px;
  margin-left: 5px;
  padding-top: 4px;
}

.containermyGuifos .MyGuifos {
  display: none;
}

body {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
  background-color: #FAFAFA;
}

.create {
  width: 100%;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25px;
  -webkit-box-shadow: 0 1.5px 0 0 #100134;
          box-shadow: 0 1.5px 0 0 #100134;
}

header p {
  font-family: 'Chakra Petch';
  font-size: 13px;
  color: #FAFAFA;
  margin: 0;
}

.light-initial {
  width: 100%;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
}

#imageGif {
  width: 102px;
  height: 64px;
}

#imageGifNight {
  display: none;
}

.main {
  margin: 0px 110px;
}

.main .content {
  margin: 50px 0px;
}

.main .content .menu-section {
  margin-bottom: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .content .createGifs {
  width: 440px;
  height: 40px;
  top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 52.8%;
}

.main .content .createGifs .create {
  width: 125px;
  background: #F7C9F3;
  cursor: pointer;
  font-family: 'ChakraPetch-Regular';
  font-size: 17px;
  color: #100134;
  text-align: center;
  letter-spacing: 0;
  padding-top: 10px;
  line-height: 20px;
  text-decoration: none;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
}

.main .content .createGifs .create:hover {
  border: 1.5px dotted #110034;
}

.main .content .createGifs button {
  width: 125px;
  height: 40px;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
  background: #F7C9F3;
  cursor: pointer;
  border: 1.5px solid #100134;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 17px;
}

.main .content .createGifs button:hover {
  border: 1.5px dotted #100134;
}

.main .content .createGifs .Menucontainer {
  margin: 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded button {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  margin: 0;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded div {
  width: 38px;
  border: 1.5px solid #100134;
  background: #F7C9F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
  border: 1.5px solid black;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded div img {
  margin: auto;
}

.main .content .createGifs .Menucontainer .Menucontainerunfolded div:hover {
  border: 1.5px dotted #100134;
}

.main .content .createGifs .Menucontainer .containerdrop {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 55px 203px;
  width: 170px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #E0D1DD, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #E0D1DD, inset 2.5px 2.5px 0 0 #FAFAFA;
  padding-bottom: 12px;
  top: 60px;
  right: 100px;
  z-index: 1;
  overflow: auto;
  position: absolute;
}

.main .content .createGifs .Menucontainer .containerdrop .droplist {
  width: 100%;
  margin: 0;
  padding: 0;
}

.main .content .createGifs .Menucontainer .containerdrop li {
  cursor: pointer;
  list-style: none;
  width: 144px;
  height: 36px;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  text-align: center;
  color: #100134;
  display: block;
  padding-top: 8px;
  margin-left: 12px;
  margin-top: 10px;
}

.main .content .createGifs .Menucontainer .containerdrop .list {
  background: #E6E6E6;
  border: 1px solid #808080;
}

.main .content .createGifs .Menucontainer .containerdrop .list span {
  text-decoration: underline;
}

.main .content .createGifs .Menucontainer .containerdrop .list:hover {
  background: #FFEDFC;
  border: 1.5px solid #B78DB4;
  -webkit-box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #E0D1DD, inset 1px 1px 0 0 #FAFAFA;
}

.main .content .createGifs .MyGuifos {
  text-decoration: none;
  cursor: pointer;
  width: 80px;
  left: 1300px;
  top: 78px;
  font-family: 'Chakra Petch-Regular';
  font-size: 17px;
  color: #100134;
  line-height: 40px;
  letter-spacing: 0;
}

.main .content .createGifs .MyGuifos span {
  text-decoration: underline;
}

.main .content .createGifs .MyGuifos:hover {
  border: 1.5px dotted #100134;
}

.search {
  background: #E1DEDE;
}

#containersearch {
  width: 1210px;
  margin-top: -60px;
  -webkit-box-shadow: inset -2px -2px 0 0 #A09C9C, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2px -2px 0 0 #A09C9C, inset 2px 2px 0 0 #FAFAFA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#containersearch .allied {
  position: absolute;
  margin-top: -1px;
  width: 1211px;
}

#containersearch #prinsearch {
  width: 1200px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
  font-size: 16px;
  color: #FAFAFA;
  -webkit-box-shadow: 0 1.5px 0 0 #100134;
          box-shadow: 0 1.5px 0 0 #100134;
}

#containersearch #prinsearch p {
  margin: auto;
  width: 98%;
  height: 50px;
}

#containersearch .principalsearch {
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C6F3), to(#3B78EB));
  background-image: linear-gradient(270deg, #F7C6F3 0%, #3B78EB 100%);
}

#containersearch .lightform {
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

#containersearch form {
  height: 100%;
}

#containersearch form .form {
  width: 96.4%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

#containersearch form input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 1100px;
  font-size: 14px;
  padding-left: 11px;
  font-size: 15px;
  color: #A09C9C;
  letter-spacing: 0;
  line-height: 50px;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #FAFAFA, inset 2.5px 2.5px 0 0 #100134;
          box-shadow: inset -2.5px -2.5px 0 0 #FAFAFA, inset 2.5px 2.5px 0 0 #100134;
}

#containersearch form input:focus .contalliedbutton {
  display: block;
}

#containersearch form input::-webkit-input-placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch form input:-ms-input-placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch form input::-ms-input-placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch form input::placeholder {
  letter-spacing: 0;
  line-height: 25px;
  padding: 18px;
}

#containersearch .buttonsearch {
  width: 100px;
  height: 38px;
  margin: auto 5px;
  -webkit-box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
  font-size: 17px;
  line-height: 18px;
  height: 36px;
  border: 1.5px solid #908686;
  -ms-flex-item-align: end;
      align-self: flex-end;
  background: #E6E6E6;
}

#containersearch .buttonsearch:active {
  background: #F7C9F3;
  color: #100134;
  border: 1.5px solid #100134;
  -webkit-box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #A09C9C, inset 1px 1px 0 0 #FAFAFA;
}

#containersearch .Searchtext {
  color: #A09696;
}

#containersearch .fas.fa-search {
  color: #CDC3C3;
}

#containersearch div button {
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FAFAFA;
}

#containersearch .alliedbutton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#containersearch .lightform:focus #alliedbtn {
  display: block;
}

#alliedbtn {
  padding-top: 12px;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 275px;
  z-index: 2;
  background: #E6E6E6;
}

#alliedbtn button {
  width: 1060px;
  height: 38px;
  margin-left: 17px;
  margin-bottom: 14px;
  color: #110038;
  line-height: 34px;
  border: 1.5px solid #716B6B;
  -webkit-box-shadow: inset -1.5px -1.5px 0 0 #A09C9C, inset 1.5px 1.5px 0 0 #FAFAFA;
          box-shadow: inset -1.5px -1.5px 0 0 #A09C9C, inset 1.5px 1.5px 0 0 #FAFAFA;
  text-align: start;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#alliedbtn button a {
  width: 250px;
  height: 25px;
  padding-left: 16px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  letter-spacing: 0;
  line-height: 23px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#alliedbtn button:hover {
  border: 1px dotted #100134;
  background: #E6E6E6;
}

#alliedbtn .alliedbutton {
  background: #F0F0F0;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}

.search-container {
  margin-top: -25px;
}

.containsearch {
  width: 96.4%;
  display: -ms-grid;
  display: grid;
  row-gap: 18px;
  -webkit-column-gap: 4px;
          column-gap: 4px;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
}

.containsearch .trends-container-Gif {
  width: 290px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.containsearch .trends-container-Gif img {
  width: 290px;
  height: 300px;
  margin: 1px;
  background: #E1DDDD;
  -webkit-box-shadow: inset 3px 3px 0 0 #B4B4B4, inset 3px 3px 0 0 #FFFFFF;
          box-shadow: inset 3px 3px 0 0 #B4B4B4, inset 3px 3px 0 0 #FFFFFF;
}

.containsearch .text-end {
  width: 289px;
  height: 16px;
  display: none;
  font-family: "ChakraPetch-Bold";
  font-size: 12px;
  color: #FAFAFA;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#F1BBEC), to(#3873E3));
  background-image: linear-gradient(270deg, #F1BBEC 0%, #3873E3 100%);
  margin-top: -5px;
  margin-bottom: 3px;
  border: 1px solid #B4B4B4;
}

.containsearch .trends-container-Gif:hover {
  border: 2px solid #B4B4B4;
  width: 294px;
  height: 315px;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FAFAFA;
  background: #E6E6E6;
}

.containsearch .trends-container-Gif:hover .text-end {
  display: block;
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FAFAFA;
}

.suggestions .principalsug {
  width: 1210px;
  height: 36px;
  margin-top: 105px;
  margin-bottom: 25px;
  background: #FAFAFA;
  -webkit-box-shadow: inset -3px -3px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #F7C9F3;
          box-shadow: inset -3px -3px 0 0 #E1DDDD, inset 2.5px 2.5px 0 0 #F7C9F3;
}

.suggestions .principalsug p {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 16px;
  color: #100134;
  margin: 0;
  padding: 8px;
  letter-spacing: 0;
}

.containersugge {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  margin-bottom: -8px;
  width: 1230px;
}

.containersugge .container_Gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 295px;
  height: 320px;
  background: #E9DFDF;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
  position: relative;
}

.containersugge .container-conteGif {
  width: 277px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 5px;
  background: #E6E6E6;
}

.containersugge .container-conteGif img:hover {
  border: 1.5px dotted #100134;
}

.containersugge .container-conteGif img.dismiss-button {
  width: 16px;
  height: 14px;
  right: -92%;
  bottom: 22px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
}

.containersugge .container-conteGif img {
  width: 277px;
  height: 277px;
  background: #E1DDDD;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #A09C9C, inset 2.5px 2.5px 0 0 #FAFAFA;
}

.containersugge .container-conteGif .gif_img {
  margin-top: -10px;
}

.containersugge .container-conteGif p {
  margin: 0;
  padding: 0;
  height: 24px;
  border: 0;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 11px;
  color: #FAFAFA;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  border: 3px outset;
}

.containersugge .container-conteGif .seeMore {
  cursor: pointer;
  bottom: 22px;
  padding: 12px;
  left: 21px;
  line-height: 22px;
  text-align: center;
  border: 1.5px solid #48289B;
  -webkit-box-shadow: inset -2.5px -2.5px 0 0 #3B78EB, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2.5px -2.5px 0 0 #3B78EB, inset 2px 2px 0 0 #FAFAFA;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  background: #3873E3;
  border-radius: px;
  letter-spacing: 0;
  position: relative;
  bottom: 78px;
}

.containersugge .seeMore:hover {
  border: 1.2px dotted #100134;
}

.containersugge .seeMore {
  background: #4284FF;
}

.containersugge .tenden_conteGif_BtnverMas {
  margin-bottom: -52px;
}

.containerbtn {
  width: 1400px;
  padding-top: 10px;
  position: absolute;
  top: 278px;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.containerbtn .containerMore {
  width: auto;
  height: 49px;
  padding: 9px;
  margin-right: 10px;
  background: #4180F6;
  border: 1px solid #4C2F99;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FAFAFA;
  font-family: 'ChakraPetch-Regular';
  font-size: 17px;
  color: #FAFAFA;
  line-height: 0px;
}

.search-related {
  display: none;
  width: 1216px;
  height: 35px;
  margin-top: 113px;
  margin-bottom: 22px;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #E6BBE2;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #E6BBE2;
  border: 1px solid #E6BBE2;
  background: #FAFAFA;
}

.search-related #randomHeader {
  margin: 0;
  padding: 8px;
  letter-spacing: 0;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 14px;
  color: #100134;
}

.ButtonsClass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: -3%;
  padding-bottom: 30px;
}

.ButtonsClass button {
  margin: 5px;
  border: 1px solid;
  font-size: 17px;
}

.ButtonsClass a {
  margin: 5px;
  border: 1px solid #100134;
  font-size: 17px;
  background: #FAFAFA;
  color: #100134;
  width: 146px;
  height: 36px;
  font-family: 'ChakraPetch';
  text-decoration: none;
  letter-spacing: 0;
  text-align: center;
  line-height: 36px;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
}

.ButtonsClass .start {
  width: 146px;
  height: 38px;
  background: #EE3EFE;
  font-family: 'ChakraPetch';
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
}

.GifoFinishButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 430px;
  margin-top: -200px;
}

.GifoFinishButton .CreateGifoText {
  font-family: 'ChakraPetch';
  font-weight: bold;
  font-size: 18px;
  color: #110034;
  letter-spacing: 0;
  line-height: 22px;
}

.FinishGifo {
  width: 721px;
  height: 391px;
  margin-left: 23%;
  margin-top: -6%;
  background: #E6E6E6;
}

.FinishGifo .TitlevideoFinish {
  height: 24px;
  background-image: -webkit-gradient(linear, right top, left top, from(#F7C9F3), to(#4180F6));
  background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
  font-family: 'ChakraPetch';
  font-weight: bold;
  font-size: 17px;
  color: #FAFAFA;
  letter-spacing: 0;
  margin-top: 5px;
}

.FinishGifo .closeGifFinish {
  margin-left: 703px;
  margin-top: -27px;
  margin-bottom: 17px;
}

.FinishGifo .CopyGifo {
  width: 256px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #110034;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  margin-top: 30px;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
}

.FinishGifo .downloadGifo {
  width: 256px;
  height: 36px;
  background: #FFF4FD;
  border: 1px solid #110034;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FAFAFA;
  margin-top: 10px;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
}

.FinishGifo .ReadyGifo {
  width: 144px;
  height: 36px;
  background: #F7C9F3;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
  margin-top: 115px;
  margin-left: 100px;
  font-size: 16px;
  text-decoration: none;
  color: #110034;
}

.FinishGifo .ReadyGifo .readyGifoBye {
  text-decoration: none;
  color: #110034;
}

.galery {
  width: 1200px;
  height: 32px;
  margin-top: 110px;
  margin-bottom: 20px;
  margin-left: 100px;
  background: #FAFAFA;
  border: 1px solid #E6BBE2;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
}

.galery .myGifos {
  margin: 0;
  padding: 7px;
  font-family: 'ChakraPetch-Regular';
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
}

.galery .pintGifos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
  row-gap: 10px;
  -webkit-column-gap: 5px;
          column-gap: 5px;
}

.galery .pintGifos .myGifosCont {
  width: 285px;
  height: 295px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.galery .pintGifos .myGifosCont img {
  width: 285px;
  height: 295px;
  margin: 13px;
  margin-left: -1px;
  background: #E6E6E6;
  -webkit-box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FAFAFA;
          box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FAFAFA;
}
/*# sourceMappingURL=style.css.map */